.TodoItem{
    display: flex;
    align-items: center;
    padding-top: 32px;
}
.TodoItem>.title,
.TodoItem>.isCompleted{
    flex-grow: 1;
    padding: 0 16px;
    font-size: 32px;
}

.TodoItem input,
.TodoItem button{
    display: none;
}

.TodoItem .icon{
    width: 32px;
    height:32px;
    cursor: pointer;
}
.TodoItem.itemCompleted{
    opacity: 0.6;
}
.itemDelete{
    display: none;
}
.TodoItem:hover .itemDelete{
    display: block;
}