.UserDialog-Wrapper{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserDialog{
    border: 1px solid #aaa;
    border-radius: 4px;
    min-height: 20em;
    background: #fff;
    box-shadow: 0 0 1em rgba(0,0,0,0.35);
}
.UserDialog > nav:first-child{
    padding: 1em;
}
.Userdialog >nav:first-child input[type=radio]:not(:first-child){
    margin-left: 2em;
}

.UserDialog form >.row{
    display: flex;
    padding: .3em 0;
}

.UserDialog form >.row >label:first-child{
    width: 4em;
}

.UserDialo form>.row.actions{
    padding-left: 4em;
}