.UserDialog-Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.UserDialog {
    width: 960px;
    height: 75vh;
    border-radius: 5px;
    box-shadow: 0 0 12em hsla(0, 0%, 0%, 0.35);
    overflow: hidden;
    display: flex;
    background: #35475e;

}

.UserPanes {
    flex: 1;
    box-shadow: -8px 0 4em hsla(0, 0%, 0%, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    flex: 1;
    background: #6bdec9;
}

.UserDialog .signInOrSignUp ,
.UserDialog .forgotPassword{
    min-width: 288px;
    color: #969ea8;
    font-weight: 100;
}

.UserDialog .signInOrSignUp input[type='radio'] {
    display: none;
}

.UserDialog .signInOrSignUp nav {
    margin-bottom: 2em;
}

.UserDialog .signInOrSignUp nav > label {
    font-size: 24px;
    cursor: pointer;
}

.UserDialog .signInOrSignUp nav > span {
    margin: 0 5%;
}

.UserDialog .signInOrSignUp .RadioActive {
    border-bottom: 1px solid #18ad90;
    color: #fff;
}
/*forgotPassword*/

.UserDialog .forgotPassword{
}
.forgotPassword h3{
    font-size: 24px;
    font-weight: 100;
}
.forgotPassword form{
    margin-top: 32px;
}
.row {
    font-size: 16px;
    margin-bottom: 24px;
}

.row > label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

.row > input {
    width: 100%;
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #969ea8;
    outline: none;
    /*去除选中时的外边框*/
    color: #969ea8;
    padding: 0 0 8px 0;
    font-weight: 100;
}

.row > input:focus {
    border-bottom: 1px solid #18ad90;
}

.row.actions{
  padding: 16px 0 0 0;
}
.row.actions button[type='submit']{
    padding: 8px 32px;
    height:32px;
    border-radius: 16px;
    background: #6bdec9;
    border: none;
    color: #fff;
    font-weight: 100;
    box-shadow:0px 5px 2em hsla(0, 0%, 0%, .5);
    cursor: pointer;
    line-height: 16px;
}
.row.actions a{
    margin-left: 16px;
}
.row.actions a:hover{
    color: #fff;
}







/*.UserDialog .signInOrSignUp > nav:first-child {*/
/*padding: 1em;*/
/*margin-left: -2em;*/
/*}*/

/*.UserDialog .signInOrSignUp > nav:first-child label {*/
/*margin-left: 2em;*/
/*cursor: pointer;*/
/*}*/

/*.UserDialog .signInOrSignUp > .panes {*/
/*padding: 0 1em 1em;*/
/*}*/

/*.UserDialog .forgotPassword > h3 {*/
/*padding: 1em;*/
/*}*/

/*.UserDialog .forgotPassword > form {*/
/*padding: 0 1em 1em;*/
/*}*/

/*.UserDialog form > .row {*/
/*display: flex;*/
/*padding: .3em 0;*/
/*}*/

/*.UserDialog form > .row > label:first-child {*/
/*width: 4em;*/
/*}*/

/*.UserDialog form > .row.actions {*/
/*padding-left: 4em;*/
/*display: flex;*/
/*align-items: center;*/
/*}*/

/*.UserDialog form > .row.actions button {*/
/*margin-right: .5em;*/
/*}*/

/*.UserDialog button {*/
/*font: inherit;*/
/*padding: .2em;*/
/*}*/